<div class="photo-viewer"><%= image_tag @photo.image.to_s, :width => '100%' %></div>
<div class="photo_title"><%= @photo.photo_title %></div>
<div class="photo_credit">credit: <%= @photo.credit %></div>
  
