<p>
  <b>Right:</b>
  <%= @grant.right.resource + ": " + @grant.right.operation %>
</p>

<p>
  <b>Role:</b>
  <%= @grant.role.name %>
</p>


<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
