/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------------
   Basic Styles
-------------------------------------------------------*/

body {
	margin: 0;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
}

p, td {
  line-height: 1.4em;
  margin-bottom: 1em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

table {

}

th, td {
padding: 0.25em;
border: 1px solid #ddd;
}

th {
color: #fff;
background: #29D5F5;
}

h1, h2, h3 {
margin-bottom: 1.4em;
}

h2 {
font-size: 1.2em;
font-weight: bold;
}

h3 {
font-size: 1.1em;
font-weight: bold;
}

/*----------------------------------------------------
   Navigation
-------------------------------------------------------*/

.navbar-default {
  background: #f54929;
  font-family: "Myriad Pro", sans-serif;
  font-weight: bold;
  }

.navbar-default .navbar-nav>li>a {
color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #68a5d2, 2px 2px 4px #b1dcf2;
  background: none;
  }

.navbar-default .navbar-toggle .icon-bar {
background: #fff;
}

/*----------------------------------------------------
   Other stuff
-------------------------------------------------------*/
.crud-nav {
float: right;
}

.calendar-ii {
  float: left;
  width: 60px;
  height: 60px;
  margin: 0 0.25em;
  border: 1px solid #333;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  }
.calendar_month-ii {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0.3em 0;
  color: #fff;
  background: #cc0000;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  }
.calendar_date-ii {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin: 5px 0 0 0;
  padding-top: 0px;
  color: #000;
  }

.calendar_row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  margin: 0 10px 10px 20px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
    }

.location {
  display: block;
  text-align: center;
  clear: both;
  margin: 4em 0 0 0.25em;
  padding: 0.25em 0.5em;
  background: #009140;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(0,145,64,1);
-moz-box-shadow: 0px 0px 0px 3px rgba(0,145,64,1);
box-shadow: 0px 0px 0px 3px rgba(0,145,64,1);
  }

.calendar-css {
  float: left;
  width: 97px;
  height: 94px;
  background: #fff;
  margin: 0 0 0.5em;
  border: 1px solid #333;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  }

.calendar_month {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 14px;
  margin: 0 0;
  padding: 0em 0;
  color: #fff;
  background: #cc0000;
  }

.calendar_date {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0.3em 0 0 0;
  padding-top: 0px;
  color: #000;
  }

.calendar_year {
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  padding-top: 0;
  color: #fff;
  background: #cc0000;
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  }

.calendar_day {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  margin: -1px 0 0 0;
  padding-top: 0px;
  color: #fff;
  background: #cc0000;
  }


article > ul {
  list-style: disc;
  margin: 0 0 1em 1.5em;
}
article > ol {
  list-style: decimal;
  margin: 0 0 1em 1.5em;
}



article {

margin: 3em auto;
width: 80%;
max-width: 950px;
}

.content-block {
background: #fff;
opacity: 0.8;
padding: 2em;
  border: 1px solid #999;
  border-radius: 5px;
}

.logo {
 width: 15%;
 margin: 1em 0 0 2em;
}

.caf_logo_hp {
float:right;
margin: 0 0 1em 1em;
width: 35%;
}

h1 {
font-size: 1.5em; /* 24px/16px = 1.5em */
line-height: 1.4em;
font-weight: bold;
margin: 0 0 1em 0;
}

input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  background: #eff9ff;
  border: 1px solid #68a5d2;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0.3em;
  }

.full-width {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

input[type="submit"] {
display: block;
margin: 0 auto;
width: auto;
cursor: pointer;
  }

.styled-select {
  background: #e2ecee;
  border: 1px solid #ccc;
  font-size: 1.25em;
  padding: 0.1em 0.5em;
   }

.cell {
margin: 0 1em 0 0;
float: left;
}

.footer {
background: #999;
color: #fff;
padding: 2em;
width: 100%;
height: 175px;
}

.text-center {
display: block;
margin: 0 auto;
text-align: center;
}

.copyright {
display: block;
text-align: center;
}

.item {
  height: 400px;
  }

.carousel-image-one {
  background: url('/assets/carousel_1.jpg')  no-repeat center;
  }
 
.carousel-image-two {
  background: url('/assets/carousel_2.jpg')  no-repeat center;
  }
 
.carousel-image-three {
  background: url('/assets/carousel_3.jpg')  no-repeat center;
  }

.carousel-image-four {
  background: url('/assets/carousel_4.jpg')  no-repeat center;
  }

.photo_cell {
  display: inline-block;
  text-align: center;
  padding: 0.25em;
  margin: 0.25em;
  border: 1px solid #ddd;
}

.photo-viewer > img {
  border: 1px solid #000;
}

.photo_cell img {
  border: 1px solid #000;
}

.photo_title {
  text-align: center;
}

.photo_credit {
  text-align: right;
  font-size: 0.75em;
  font-style: italic;
}

@media (min-width: 768px) {

.navbar {
min-height: 35px;
margin-bottom: 0;
}

.navbar-default {
border: none;
border-radius: 0px;
}

.navbar-nav>li>a {
  padding: 0.5em;
}

.container-fluid {
padding: 0;
}

}