<div class="container-fluid">


<nav id="footer-nav">
<ul>
<%= image_tag "/assets/marshalling_detachment_logo.png", :width => '82px', :height => '86px' %>
<li><a href="#" >About</a>
<!--  <ul>
    <li><a href="#">History</a></li>
    <li><%#= link_to 'Membership', membership_path %></li>
    <li><a href="#">Detachment Officers</a></li>
    <li><a href="#">Cadet Corner</a></li>
    <li><a href="#">In Memoriam</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>--></li>
<li><%= link_to 'Ramp Safety', home_path %></li>
<li><a href="#">News and Events</a></li>
<li><a href="#">Galleries</a></li>
<li><a href="#">Contact Us</a></li>
<li><a href="#">Members</a></li>
</ul>
</nav>

</div>
<div class="copyright">
<a href="http://www.commemorativeairforce.org/component/content/article/90-about-the-caf/117-copyright-information">Copyright</a> &copy; 2011 - <%= DateTime.now.strftime('%Y') %> Commemorative Air Force, Inc. except as otherwise marked. All rights reserved.
</div>
