
<ul>
<li><%= link_to 'CAF Marshalling Detachment', home_path %></li>
<li><%= link_to 'About', page_path(4) %>
<!--  <ul>
    <li><a href="#">History</a></li>
    <li><%#= link_to 'Membership', membership_path %></li>
    <li><a href="#">Detachment Officers</a></li>
    <li><a href="#">Cadet Corner</a></li>
    <li><a href="#">In Memoriam</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>--></li>
<li><%= link_to 'Ramp Safety', page_path(3) %></li>
<li><a href="#">News and Events</a></li>
<li><a href="#">Galleries</a></li>
<li><a href="#">Contact Us</a></li>
<li><%= link_to 'Members', page_path(2) %></li>
</ul>