
  <div class="col-sm-5 field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :class => 'boxsizingBorder' %>
  </div>

  <div class="field">
      <%= f.hidden_field :password, :value => 'welcome_1'  %>
  </div>

